.imageContainer {
	/*flex: 1 1 auto;*/
	margin: 0 auto;
	max-width: 85vw;
	height: 70vh;
	box-sizing: border-box;
/*	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	border:1px solid red;*/
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	background: #dee;
	border-radius: 0.5rem;
}

.imageSandwich {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	margin: none;
}

.entryImage {
	touch-action: none;
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: 0 auto;
	box-sizing: border-box;
}

.hoverMarkerTriangle {
	display: none;
	position: absolute;
	width: 13vh;
	height: 13vh;
	box-sizing: border-box;
	transform: translate(-6.5vh, -13.1vh);
	background: url('../../public/triangle-down.svg') center / cover no-repeat;
	margin: 0;
	padding: 0;
	z-index: 5000;
	pointer-events: none;
}

.hoverMarkerTriangleVisible {
	display: block;
}

.hoverMarkerTriangle[class~="activeMarkA"] {
	filter: invert(14%) sepia(91%) saturate(4325%) hue-rotate(347deg) brightness(81%) contrast(113%);
}

.hoverMarkerTriangle[class~="activeMarkB"] {
	filter: invert(25%) sepia(96%) saturate(1820%) hue-rotate(100deg) brightness(93%) contrast(102%);
}

.hoverMarkerTriangle[class~="activeMarkC"] {
	filter: invert(19%) sepia(92%) saturate(2600%) hue-rotate(219deg) brightness(90%) contrast(96%);
}

.hoverMarker {
/*	border:2px solid green;
	height:100%;
	width: 100%;*/
	height: 18vh;
	width: 18vh;
	border:2px solid #999;
	border-radius: 9vh;
	/*height: 100vh;
	width: 100vw;*/
	position: absolute;
	z-index: 9500;
	transform: translate(-9vh, -22vh);
	pointer-events: none;
	display: none;
	background-origin: border-box;
	background-repeat: no-repeat;
	background-color: #ddd;
}

.hoverMarkerCrosshairContainer {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items:center;
	font-size: 2vh;
	color: #fff;
	mix-blend-mode: difference;
}

.hoverMarkerCrosshair {
	border: 2px solid #000;
	border-radius: 1.5vh;
	width: 1.5vh;
	height: 1.5vh;
	background: #fff;
}

.hoverMarkerVisible {
	display: block;
}

.hoverMarker[class~="activeMarkA"] {
	border-color: #c01;
}

.hoverMarker[class~="activeMarkB"] {
	border-color: green;
}

.hoverMarker[class~="activeMarkC"] {
	border-color: #12c;
}

.clickMarker {
	height:1px;
	width:1px;
	background:red;
	z-index:9250;
	position:fixed;
	pointer-events:none;
	box-sizing: border-box;
}


.controlsContainer {
	flex: 0 1 auto;
	padding: 0.5rem;
}

.closeButton,
.markButtonA,
.markButtonB,
.markButtonC {
	/*background: #ddd;
	padding: 0.15rem 0.5rem;
	margin: 0.2rem;
	border: 1px solid #999;
	border-radius: 0.25rem;*/
}

.markButtonA.markButtonCurrentlyActive {
	background: #c01;
	color: #fff;
}

.markButtonB.markButtonCurrentlyActive {
	background: green;
	color: #fff;
}

.markButtonC.markButtonCurrentlyActive {
	background: #12c;
	color: #fff;
}

.markButtonA.markButtonCurrentlyActive:focus,
.markButtonB.markButtonCurrentlyActive:focus,
.markButtonC.markButtonCurrentlyActive:focus {
	color: #fff;
}
