.cropImageContainer {
	/*border: 1px solid orange;*/
	box-sizing: border-box;
	display: inline-block;
	margin: 0 auto;
	position: relative;
}

.cropCornerControl {
	z-index: 9000;
	width: 3vmin;
	height: 3vmin;
	/*border-radius: 3vmin;*/
	border:0.5vmin solid #ddd;
	background: #000;
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-1.5vmin, -1.5vmin);
}


