.cropImageContainer {
	/*border: 1px solid orange;*/
	box-sizing: border-box;
	display: inline-block;
	margin: 0 auto;
	position: relative;
}

.cropCornerControl {
	touch-action: none;
	z-index: 9000;
	width: 1.5rem;
	height: 1.5rem;
	max-width: 1.5rem;
	max-height: 1.5rem;
	border-radius: 3rem;
	border:0.21rem solid #ddd;
	background: #000;
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-0.75rem, -0.75rem);
}

.notVisible {
	visibility: hidden;
}

.displayNone {
	display: none;
}
