
.modalOverlay {
	background: rgba(0,0,0,0.5);
	z-index: 9000;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
}

.modalVisible {
	display: block;
}

.controlsContainer {
	border: 1px solid black;
	background: #fff;
	padding: 1rem;
	width: 70rem;
	max-width: 85vw;
}
